*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


// html, html *::before, html *::after, body {
// 	transition: all .5s;
// }

html, body {
	scroll-behavior: smooth;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	transition: all 1s $outCirc;
}

body {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background: var(--lgrey);
	background: linear-gradient(var(--lgrey) 0%, var(--grey) 50%, var(--grey) 100%);
	color: var(--black);
	overflow-x: hidden;
}

::selection {
	background: var(--blue);
	color: var(--grey);
}

ul { list-style-type: none; }
a { text-decoration: none; color: inherit; }

button {
	border: none;
	outline: none;
}

form {
	// display: flex;
	// align-items: center;
	@extend .flex;
}

input {
	border: none;
	font-family: inherit;
	border-bottom: 1px solid transparent;
	border-radius: var(--radius);
	background: transparent;
	color: var(--black);

	&:focus {
		outline: none;
		border-bottom: 1px solid var(--grey);
		background: transparent;
	}

	// &:invalid,
	// &:-moz-ui-invalid,
	// &:-moz-submit-invalid {
	// 	border: 1px solid rgba($red, .5) !important;
	// }
}

i {
	padding: 0 .5rem;
	@extend %cursor;
	font-size: 1.8rem;
	// line-height: 1;
}

i.icon-delete {
	&:hover {
		color: darken($red, 5%);
	}
	// color: $red;
}
i.icon-check {
	&:hover {
		color: darken($green, 5%);
	}
}



::-webkit-scrollbar { 
	width: .5rem;
	height: .5rem;
}

::-webkit-scrollbar-track { 
    background: var(--grey);
}

::-webkit-scrollbar-thumb { 
    background: var(--blue);
    border-radius: 5rem;
}

::-webkit-scrollbar-corner { 
    background: var(--grey);
}

.bp {
	font-size: 2rem;
	padding: .3rem 1rem;
	display: block;
	@extend %text-center;
	@extend %pos-fix;
	bottom: 5%;
	left: 50%;
	
	&::before { content: 'desktop ' }

	@include device(tab-land) { // width < 1200 ?
		background: purple;
		&::before { content: 'tab-land'; }
	}

	@include device(tab) { // width < 900 ?
		background: teal;
		&::before { content: 'tab'; }
	}

	@include device(phone-land) { // width < 600 ?
		background: lightgreen;
		&::before { content: 'phone-land'; }
	}

	@include device(phone) { // width < 500 ?
		background: orangered;
		&::before { content: 'phone'; }
	}

	@include device(phone-ant) { // width < 320 ?
		background: coral;
		&::before { content: 'phone-ant'; }
	}
	
	@include device(big) { // width > 1920 ?
		background: red;
		&::before { content: 'big'; }
	}
}