.transition-1 {
   transition: all .1s ease-in-out;

}
.transition-2 {
    transition: all .2s $cub-1;
}

.transition-3 {
    transition: all .3s $cub-1;
}

.translateX {
	transform: translateX(-100%) !important;
}

hr {
	background: rgba(grey, .5);
	width: 90%;
	margin: 0 auto;
	height: .1rem;
	border: none;
}

.expand {
	background: $black;
	clip-path: polygon(50% 85%, 0 25%, 100% 25%);
	width: 1.3rem;
	height: 1rem;
	padding: .55rem;
	margin: 1rem;
}

.expanded {
	transform: rotate(180deg) !important;
}

.txt-blue {
	@extend i:hover;
	// color: $blue;
	// opacity: 1 !important;
}



//! NOTE CLASSES
.open-note {
	position: fixed;
	z-index: 100;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	@extend .transition-2;
	width: 70rem;
	font-size: 1.5rem;
}

.open-note-opacity {
	opacity: 1 !important;
	visibility: visible !important;
	grid-auto-flow: column !important;
	display: grid !important;
	grid-gap: 2.5vw !important;
	align-items: center !important;
	width: auto !important;
}

.open-note-background {
	position: fixed;
	z-index: 90;
	// width: 100%;
	// height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($grey, .8);
	backdrop-filter: blur(2px);
}

.open-note-footer {
	grid-auto-flow: column;
	display: grid;
	grid-gap: 2.5vw;
	align-items: center;
	width: auto;
}


.white {
	background: $white !important; // ok
}

.red {
	background: $red !important; // promeni
}

.blue {
	background: $cblue !important; // promeni
}

.green {
	background: $cgreen !important; // ok
}

.purple {
	background: $cpurple !important; // promeni
}

.orange {
	background: $corange !important; // ok
}

.grey {
	background: $cgrey !important; // menjaj
}