.transition-1 {
   transition: all .1s ease-in-out;

}
.transition-2 {
    transition: all .2s $cub-1;
}

.transition-3 {
    transition: all .3s $cub-1;
}

// .translateX {
// 	transform: translateX(-100%) !important;
// }

.translateX {
	transform: translateX(-32rem) !important;
}


// hr {
// 	background: rgba(var(--grey), .5);
// 	width: 90%;
// 	margin: 0 auto;
// 	height: .1rem;
// 	border: none;
// }

.expand {
	background: var(--black);
	clip-path: polygon(50% 85%, 0 25%, 100% 25%);
	width: 1.3rem;
	height: 1rem;
	padding: .55rem;
	margin: 1rem;
}

.expanded {
	transform: rotate(180deg) !important;
}

.txt-blue {
	@extend i:hover;
}

.scroll-shadow {
	box-shadow: $box-shadow-header;
}

.flex {
	display: flex;
	align-items: center;
}

.underline {
	position: relative;
	z-index: 80;
	padding: .5rem;
	
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: .2rem;
		background: var(--blue);
		border-radius: 2px;
		z-index: -1;
		border-left: 2px solid var(--blue);
		border-right: 2px solid var(--blue);
		transition: all .2s ease-in-out;
	}

	&:hover {
		color: var(--white);
		&::after {
			height: 100%;
		}
	}
}


//! NOTE CLASSES
.open-note {
	position: fixed;
	z-index: 100;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	@extend .transition-2;
	width: 70rem !important;
	font-size: 1.5rem;
	box-shadow: var(--shadow_modal) !important;
}

.open-note:hover {
	transform: translate(-50%, -50%) !important;
}

.open-note-opacity {
	opacity: 1 !important;
	visibility: visible !important;
	grid-auto-flow: column !important;
	display: grid !important;
	grid-gap: 2.5vw !important;
	align-items: center !important;
	width: auto !important;
}

// .open-note-background {
// 	position: fixed;
// 	z-index: 90;
// 	// width: 100%;
// 	// height: 100%;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	background: rgba(var(--grey), .8);
// 	backdrop-filter: blur(2px);
// }
.modal-background {
	// TODO dodati onaj shadow kao sto je traversy stavljao za kopiju netflixa
	position: fixed;
	z-index: 70;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--modal-bg);
	backdrop-filter: blur(2px);
	box-shadow:
		inset 3rem 10rem 25rem var(--modal-bg),
		inset -3rem -10rem 25rem var(--modal-bg);
}

.open-note-footer {
	grid-auto-flow: column;
	display: grid;
	grid-gap: 2.5vw;
	align-items: center;
	width: auto;
}
.opacity-1 {
	opacity: 1 !important;
	visibility: visible !important;
}



//? COLOR PALLETE CLASSES
.white {
	background: var(--white) !important; // ok
}

.red {
	background: var(--cred) !important; // promeni
	color: #222 !important;
}

.blue {
	background: var(--cblue) !important; // promeni
	color: #222 !important;
}

.green {
	background: var(--cgreen) !important; // ok
	color: #222 !important;
}

.purple {
	background: var(--cpurple) !important; // promeni
	color: #222 !important;
}

.orange {
	background: var(--corange) !important; // ok
	color: #222 !important;
}


.red,
.green,
.blue,
.purple,
.orange {
	.note__title:empty:before,
	.note__body:empty:before {
		content: attr(data-placeholder);
		color: var(--dgrey);
	}
}