.transition-1 {
	transition: 0.1s ease-in-out;
}
.transition-2 {
	transition: 0.2s $cub-1;
}

.transition-3 {
	// transition: 0.3s $cub-1;
	transition: 0.5s $inOutBack;
}

.translateX {
	transform: translateX(-32rem) !important;
	width: 0 !important;
}

.i-color-blue {
	color: var(--blue);
	position: relative;

	&::after {
		@extend %after;
		top: 0;
		left: 0;
		background: var(--h4_bg);
		transform: scale(1.2);
		border-radius: 8px;
		@extend .transition-3;
	}

	&:hover::after {
		transform: scale(0);
	}
}

.flex {
	display: flex;
	align-items: center;
}

.modal-background {
	// TODO dodati onaj shadow kao sto je traversy stavljao za kopiju netflixa
	position: fixed;
	z-index: 70;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--modal-bg);
	backdrop-filter: blur(2px);
	box-shadow: inset 3rem 10rem 25rem var(--modal-bg),
		inset -3rem -10rem 25rem var(--modal-bg);
}

// .open-note-footer {
// 	grid-auto-flow: column;
// 	display: grid;
// 	grid-gap: 2.5vw;
// 	align-items: center;
// 	width: auto;
// }
.opacity-1 {
	opacity: 1 !important;
	visibility: visible !important;
}

//? COLOR PALLETE CLASSES
.white {
	background: var(--white) !important; // ok
	color: var(--black) !important;
}

.red {
	background: var(--rgba-cred) !important; // promeni
	color: #222 !important;

	.note__pinned,
	.h4,
	i {
		color: var(--cred) !important;
	}
	.note__pinned.h4 i {
		background: var(--rgba-cred);
	}
	.btn--blue {
		background: var(--cred);
		color: var(--rgba-cred);
	}
	.btn--outline {
		color: var(--cred) !important;
		border-color: var(--cred) !important;
	}
	// .note__pin::after, .i-color-blue::after { background: var(--rgba-cred) !important;}
}

.blue {
	background: var(--rgba-cblue) !important; // promeni
	color: #222 !important;

	.note__pinned,
	.h4,
	i {
		color: var(--cblue) !important;
	}
	.btn--blue {
		background: var(--cblue);
		color: var(--rgba-cblue);
	}
	.btn--outline {
		color: var(--cblue) !important;
		border-color: var(--cblue) !important;
	}
}

.green {
	background: var(--rgba-cgreen) !important; // ok
	color: #222 !important;

	.note__pinned,
	.h4,
	i {
		color: var(--cgreen) !important;
	}
	.btn--blue {
		background: var(--cgreen);
		color: var(--rgba-cgreen);
	}
	.btn--outline {
		color: var(--cgreen) !important;
		border-color: var(--cgreen) !important;
	}
}

.purple {
	background: var(--rgba-cpurple) !important; // promeni
	color: #222 !important;

	.note__pinned,
	.h4,
	i {
		color: var(--cpurple) !important;
	}
	.btn--blue {
		background: var(--cpurple);
		color: var(--rgba-cpurple);
	}
	.btn--outline {
		color: var(--cpurple) !important;
		border-color: var(--cpurple) !important;
	}
}

.orange {
	background: var(--rgba-corange) !important; // ok
	color: #222 !important;

	.note__pinned,
	.h4,
	i {
		color: var(--corange) !important;
	}
	.btn--blue {
		background: var(--corange);
		color: var(--rgba-corange);
	}
	.btn--outline {
		color: var(--corange) !important;
		border-color: var(--corange) !important;
	}
}

.red,
.green,
.blue,
.purple,
.orange {
	.note__title:empty:before,
	.note__body:empty:before {
		content: attr(data-placeholder);
		color: var(--dgrey);
	}

	.note__pin--pinned::after,
	.note__tag {
		background: rgba(255, 255, 255, 0.15) !important;
	}
}
