.grid-container {
	@extend %grid;
	grid-template-columns: var(--sidebar-width) 1fr;
	grid-template-rows: var(--header-height) minmax(
			calc(100vh - var(--header-height)),
			1fr
		);
	grid-template-areas: "sidebar header" // 8rem height
		"sidebar main"; // 90vh or max-content height
	translate: all 0.3s ease-in-out;

	@include device(tab) {
		--sidebar-width: 0;

		.sidebar {
			opacity: 0;
			padding: 0 !important;
		}
		.header {
			width: 100%;
		}

		&--sidebar-show {
			--sidebar-width: 40vw;

			.sidebar {
				opacity: 1 !important;
				// padding: 2rem !important;
				box-shadow: 1px 0px 0px 0px var(--grey);
			}

			.header {
				width: calc(100% - var(--sidebar-width));
			}
		}
	}

	@include device(phone-land) {
		&--sidebar-show {
			--sidebar-width: 80vw;
		}
	}
}

.sidebar-notes {
	@extend %flex;
}
