$font-family: 'Inter', sans-serif;
$font-size: 1.6rem;
$font-weight: 400;
$line-height: 1.5;
// $letter-spacing: -.049375rem;
// $letter-spacing: -1px;


html {
	font-size: 62.5%; // 1rem = 10px, j 10px/16px = 62.5%
	// //! uvek VECI ide pre MANJEG msm font-size, ne device koji je, kada je DESKTOP-FIRST, za MOBILE-FIRST od MANJEG ka VECEM

	@include device(tab-land) { // width < 1200 ?
		font-size: 56.25%; // 1rem = 9px, 9/16 = 50%
	}
	// @include device(tab) { // width < 900 ?
	// 	font-size: 50%; // 1rem = 8px, 8/16 = 50%, da li je width manja od 50%, i mogu da pbrisem jedan, tj phone, jer oboje apply 50%
	// }
	// @include device(phone) {
	// 	font-size: 43.75%; // 1rem = 7px, 7/16 =  43.75%
	// }
	@include device(phone-ant) {
		font-size: 37.5%; // 1rem = 6px, 6/16 =  37.5%
	}

	@include device(big) {
		font-size: 75%; // 1rem = 12px, 12/16 = 75%
	}
}


body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	// letter-spacing: $letter-spacing;
}

.h1 {
	display: inline-block;
	margin-bottom: 8rem;
	font-size: 4rem;
	letter-spacing: 1rem;
	color: var(--blue);
	position: relative;
	word-break: break-all;
	// padding: 0 5rem;
	// border-left: 1rem solid var(--blue);

	&::after {
		content: '';
		position: absolute;
		bottom: -10%;
		left: 0;
		left: 50%;
		transform: translateX(-50%);
		background: var(--blue);
		width: 5rem;
		height: .7rem;
		border-radius: .2rem;
	}

	// &:hover {
	// 	color: var(--blue);

	// 	// &:after {
	// 	// 	background: var(--white);
	// 	// 	width: 100%;
	// 	// }
	// }
}

.h2 {
	display: inline-block;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: .5rem;
	padding: .5rem 1rem;
	border-radius: .8rem;
	color: var(--blue);
	word-break: break-all;

	&:after {
		background: var(--rgba-lgrey);
		border: none;
		width: 5%;
	}

	&:hover {
		color: var(--blue);

		&:after {
			background: var(--rgba-lgrey);
			width: 100%;
		}
	}
}

.h3 {
	display: inline-block;
	font-size: 2.2rem;
	font-weight: 300;
	// margin-bottom: 2rem;
	padding: 1rem 2rem;
	border-radius: .8rem;
	color: var(--blue);
	word-break: break-all;

	&:after {
		background: var(--rgba-lgrey);
		border: none;
		width: 5%;
	}

	&:hover {
		color: var(--blue);
		
		&:after {
			background: var(--rgba-lgrey);
			width: 100%;
		}
	}
}

.h4 {
	display: inline-block;
	border-radius: 10rem;
	background: var(--h4_bg);
	color: var(--blue);
	font-size: 1.1rem;
	padding: .6rem 1.6rem;
	// margin-bottom: 1rem;
	word-break: break-all;
	
}

.h5 {

}
.h6 {
	
}