// colors
// var(--white): #fefefe;
// var(--lgrey): #f8f8f8 !default;
// var(--grey): #eeeeee !default;
// var(--dgrey): #777 !default;
// var(--black): #111111 !default;
// var(--blue): #6e6eff !default;

// $dark-white: #333333;
// $dark-lgrey: #434343;
// $dark-grey: #434343;
// $dark-dgrey: #777;
// $dark-black: #B5B5B5;
// $dark-blue: #f85f78;

// $dark-white: #17223b;



// $cred: #DBAFB0;
$cblue: #cbf0f8;
$cgreen: #D4F2D2;
$cpurple: #d7aefb;
$corange: #FFE8BA; // #fbbc04;
$cgrey: #D1D0DC; // #e8eaed
$cpeach: #F9C9AF;
// $red: #ee6e73;
$red: #ff8a80;
$green: #69f0ae;

// transition
$cub-1: cubic-bezier(0.65, 0.05, 0.36, 1);

// box-shadow
$box-shadow-note: 0px 4px 5px -4px rgba(#000000, 0.5);
// $box_shadow_note-2: 0px 0px 3px 1px rgba(var(--black), .1);

$box-shadow-header: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);

// box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);

//   box-shadow: 0 2px 15px rgba(0,0,0,0.30);



//! za dark theme!! popraviti jos neke stavri
// // $dark-white: #20213F;
// $dark-white: #1E1F3D;
// $dark-lgrey: #272846;
// $dark-grey: #272846;
// $dark-dgrey: #20213F;
// // $dark-black: #c7bcbb;
// $dark-txt: #61637C; 
// $dark-black: lighten($dark-txt, 10%);
// $dark-blue: #EC6842;

// var(--white): $dark-white !default;
// var(--lgrey): $dark-lgrey !default;
// var(--grey): $dark-grey !default;
// var(--dgrey): $dark-dgrey !default;
// var(--black): $dark-black !default;
// var(--blue): $dark-blue !default;

// $box-shadow-note: none !default;
// $box-shadow-btn: none !default;
// $box-shadow-header: none !default;

html {
	--white: rgb(254, 254, 254);
	--lgrey: rgb(248, 248, 248);
	--grey: rgb(238, 238, 238);
	--dgrey: rgb(119, 119, 119);
	--black: rgb(71, 71, 71);
	--blue: rgb(110, 110, 255);
	--h4_bg: rgba(110, 110, 255, .1);
	--modal-bg: rgba(119, 119, 119, .5);
	--rgba-lgrey: rgba(248, 248, 248, .8);

	--shadow: 0px 4px 5px -4px var(--black);

	--cred: #ff8a80;
	--cblue: #cbf0f8;
	--cgreen: #D4F2D2;
	--cpurple: #d7aefb;
	--corange: #FFE8BA; // #fbbc04;
	--cgrey: #D1D0DC; // #e8eaed
	--cpeach: #F9C9AF;
}

html [data-theme="dark"] {
	// darke theme 1
	// --white: #333333;
	// --lgrey: #434343;
	// --grey: #434343;
	// --dgrey: #777;
	// --black: #B5B5B5;
	// --blue: #3694FF;

	// darke theme 2
	--white: rgb(30, 31, 61);
	--lgrey: rgb(39, 40, 70);
	--grey: rgb(39, 40, 70);
	--dgrey: rgb(32, 33, 63);
	--black: rgb(117, 119, 155);
	--blue: rgb(236, 101, 64);
	--h4_bg: rgba(236, 101, 64, .1);
	--modal-bg: rgba(32, 33, 63, .8);
	--rgba-lgrey: rgba(39, 40, 70, .8);

	// --shadow: 0px 2px 6px -4px var(--blue);
	--shadow: none;
	--shadow_modal: 0px 0px 150px -50px var(--blue);

	--cred: hsl(5, 32%, 44%);
	--cblue: hsl(189, 23%, 38%);
	--cgreen: hsl(116, 18%, 53%);
	--cpurple: hsl(271, 25%, 57%);
	--corange: hsl(41, 30%, 49%); // #fbbc04;
	--cgrey: hsl(245, 15%, 54%); // #e8eaed
	--cpeach: hsl(21, 26%, 59%);
}