// colors
$white: #fefefe;
$lgrey: #f8f8f8;
$grey: #eee;
$dgrey: #777;
$black: #111111;
$blue: #6e6eff;

// $cred: #DBAFB0;
$cblue: #cbf0f8;
$cgreen: #D4F2D2;
$cpurple: #d7aefb;
$corange: #FFE8BA; // #fbbc04;
$cgrey: #D1D0DC; // #e8eaed
$cpeach: #F9C9AF;
// $red: #ee6e73;
$red: #ff8a80;
$green: #69f0ae;
// transition
$cub-1: cubic-bezier(0.65, 0.05, 0.36, 1);

// box-shadow
$box-shadow-note: 0px 4px 5px -4px rgba($black,0.5);
// $box_shadow_note-2: 0px 0px 3px 1px rgba($black, .1);
$box-shadow-btn: 0px 0px 3px 1px $blue;

$box-shadow-header: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);