.notes,
.tags,
.archive {
	grid-area: main;
	padding: 5rem 18rem;
	background: var(--lgrey);
	overflow-x: hidden;
	text-align: center;
	@extend .transition-2;
}

.no-notes-wrapper {
	// height: 90vh;
	@extend .flex;
	flex-direction: column;
	justify-content: center;
}

.no-notes {
	@extend .flex;
	flex-direction: column;
	justify-content: center;
	color: var(--black);

	i { 
		font-size: 5rem;
		color: var(--blue);
	}

	.logo {
		color: var(--blue);
	}
}

.grid-notes {
	text-align: left;
	margin: 0 auto;
	height: auto;
	// padding: 1rem;
	// -webkit-column-width: 21rem;
	// -webkit-column-gap: 2rem;
	// -moz-column-width: 21rem;
	// -moz-column-gap: 2rem;
	column-width: 21rem;
	// column-span: all;
	// column-gap: 1vw;
	// column-fill: auto;
	// column-count: 2;
	display: block; //! BITNOOO, ILI IPAK NE
	
	.note {
		padding: .8rem 1.8rem;
		margin: 1rem;
		// height: auto;
		// width: auto;
		width: 21.5rem;
		display: inline-block; //! BITNOOO, ILI IPAK NE
		-webkit-column-break-inside: avoid; //! BITNOO
          page-break-inside: avoid; //! BITNOOO
               break-inside: avoid; //! BITNOOO
		font-size: 1.3rem;
		box-shadow: $box-shadow-note;

		width: calc(100% / 1);
		// transition: @extend .transition-3;
		transition: all .3s ease-in-out;
		z-index: 100;
		// float: left;

		&:hover {
			transform: translateY(-5%);
			.note__pin,
			.note__options {
				opacity: 1;
				visibility: visible;
			}
		}

		&__pin,
		&__options  {
			opacity: 0;
			visibility: hidden;
			@extend .transition-2;
		}

		// &__click-open-note {
		// 	z-index: 2;
		// }
		&__pin {
			z-index: 5;
		}

		&__body {
			max-height: 30rem;
			min-height: 4rem;
			overflow: hidden;
			// box-sizing: inherit;
			// font-size: 1.4rem;
			// background: orange;
		}

		&__tag {
			padding: .4rem 1.3rem;
			font-size: 1rem;
		}

		&__options {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}






// @media screen and (max-width: 750px) { 
// 	.grid-allnotes  { column-gap: 0px; }
// 	.grid-allnotes  .note { width: 100%; }
// }
