.header {
	grid-area: header;

	@extend %pos-fix;
	top: 0;
	right: 0;
	width: calc(100% - var(--sidebar-width));
	height: var(--header-height);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: var(--header-blur-bg);
	padding: 0rem 6vw;
	@extend %flex-jsb;
	z-index: var(--z-header);

	& > :not(:last-child) {
		margin-right: 4vw;
	}

	&__hamburger {
		display: none;
		font-size: 3rem;
		opacity: 1;

		&:hover {
			opacity: 0.6;
		}
	}

	&__search-form {
		@extend %pos-rel;
		flex: 1;

		input {
			width: 100%;
			padding: 1.5rem 1.5rem 1.5rem 6rem;
			font-size: 1.5rem;
			background: var(--grey);
			transition: 0.3s ease-in-out;

			&:focus {
				background: transparent;
			}
		}

		i {
			opacity: 0.4;
			font-size: 2.5rem;
			@extend %pos-abs;
			padding-left: 2rem;
		}
	}

	&__view-theme {
		@extend %grid-center;
		grid-auto-flow: column;
		grid-gap: 2rem;
	}

	&__notes-view {
		@extend %grid;
		grid-template-columns: repeat(1fr, 2);
		grid-template-rows: repeat(1fr, 2);
		grid-gap: 0.3rem;
		width: 2rem;
		height: 2.5rem;
		@extend %cursor;
		transform: rotate(90deg);

		&:hover div {
			border-color: var(--blue);
		}

		div {
			border: 0.2rem solid var(--black);
			@extend %transition-outSmooth;
		}

		div:nth-of-type(1) {
			grid-column: 1/1;
			grid-row: 1/1;
		}

		div:nth-of-type(2) {
			grid-column: 2/2;
			grid-row: 1/1;
		}
	}

	&__login {
		--avatar-size: 5rem;
		@extend %pos-rel;

		.login-email-wrapper {
			@extend %flex-center;
			flex-direction: column;
			@extend %pos-abs;
			top: 100%;
			right: 0;
			background: var(--white);
			width: max-content;
			height: max-content;
			padding: 1.5rem 2rem;
			@extend %radius-default;
			z-index: 100;
			box-shadow: var(--shadow);
			transform-origin: right top;

			p {
				@extend %flex;
				align-items: center;
				margin-right: 1.5rem;
				font-size: 1.4rem;
				@extend %font-500;

				margin-bottom: 1.5rem;

				i {
					color: var(--blue);
					font-size: 2rem;
				}
			}
			button {
				display: block;
				width: 100%;
			}
		}

		.login-avatar {
			width: var(--avatar-size);
			height: var(--avatar-size);
			@extend %flex-center;
			@extend %radius-50;
			color: var(--lgrey);
			background: var(--blue);
			@extend %font-500;
			text-transform: uppercase;
			@extend %cursor;
			@extend %transition-inOutBack;
			border: 3px solid rgba(white, 0.4);

			&:hover {
				// transform: scale(1.05);
				border: 3px solid transparent;
			}
		}
	}

	@include device(tab) {
		&__hamburger {
			display: initial;
		}
	}

	@include device(phone-land) {
		.login-email-wrapper {
			width: 60vw;
		}
	}

	@include device(phone-ant) {
		.login-email-wrapper {
			width: 90vw;
		}
	}
}
