.header {
	grid-area: header;

	position: fixed;
	top: 0;
	width: 100vw;
	background: var(--white);
	padding: 2.5rem 6rem;
	// @extend .flex;
	// justify-content: space-between;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(2, min-content) 1fr repeat(2, min-content);
	grid-gap: 2rem;

	box-shadow: $box-shadow-note;

	&__hamburger {
		font-size: 3rem;
		opacity: 1;

		&:hover {
			opacity: .6;
		}
	}


	&__search {
		width: 80%;
		@extend .flex;

		form {
			width: 60%;
			
			input {
				width: 100%;
				padding: 1.2rem 1.2rem 1.2rem 5rem;
				font-size: 1.5rem;
				background: var(--grey);

				&:focus {
					background: transparent;
				}
			}

			i {
				// transform: translate(3.5rem);
				margin-right: -4.5rem;
				opacity: .4;
				font-size: 2.5rem;
			}
		}
	}


	&__notes-view {
		display: grid;
		grid-template-columns: repeat(1fr, 2);
		grid-template-rows: repeat(1fr, 2);
		grid-gap: .3rem;

		margin: 0 1rem 0 4rem;
		width: 2rem;
		height: 2.5rem;
		cursor: pointer;
		transform: rotate(90deg);

		&:hover div {
			border-color: var(--blue);
		}

		div {
			border: .2rem solid var(--black);
			@extend .transition-2;
		}

		div:nth-of-type(1) {
			grid-column: 1/1;
			grid-row: 1/1;
		}

		div:nth-of-type(2) {
			grid-column: 2/2;
			grid-row: 1/1;
		}

		// div:nth-of-type(3) {
		// 	grid-column: 1/1;
		// 	grid-row: 2/2;
		// }

		// div:nth-of-type(4) {
		// 	grid-column: 2/2;
		// 	grid-row: 2/2;
		// }
	}

	// &__theme {
	// 	background: var(--grey);
	// 	width: 6rem;
	// 	height: 2rem;
	// 	margin: 0 2rem;
	// 	padding: 1.4rem;
	// 	border-radius: 3rem;
	// 	position: relative;
	// 	@extend .flex;
	// 	cursor: pointer;

	// 	span {
	// 		position: absolute;
	// 		left: .8rem;
	// 		height: 2.1rem;
	// 		width: 2.1rem;
	// 		border-radius: 50%;
	// 		background: var(--blue);
	// 		transition: all .3s ease;

	// 	}
	// }

	&__login {
		@extend .flex;

		i {
			color: var(--blue);
			font-size: 2rem;
		}

		p {
			margin-right: 1.5rem;
			&:hover {
				// color: inherit;
				&::after {
					// background: $corange;
				}
			}
		}
	}
}


// .dark {
// 	background: var(--blue) !important;
// 	left: 0 !important;
// 	right: 0 !important;
// }