.notes {
	--note-width-min: 22rem;

	.note {
		font-size: 1.35rem;
		&__body {
			@extend %overflow-hidden;
		}
	}

	@include device(phone-land) {
		--note-width-min: 18.5rem;
	}
}

.notes-home,
.notes-tags,
.notes-archive,
.notes-search,
.notes-colors {
	grid-area: main;
	@extend %pos-rel;
	padding: 8vh 5vw;
	overflow-x: hidden;

	.notes {
		@extend %grid-notes;
	}

	i {
		color: var(--blue);
	}
}

.notes-home {
	@extend %grid;
	align-content: center;
	grid-gap: calc(100vh / 10);

	&__pinned-notes {
		margin-bottom: 12rem;
	}

	&__pinned-title,
	&__unpinned-title {
		letter-spacing: 1px;
		// font-weight: 800;
		text-transform: uppercase;
		font-size: 1.3rem;
		margin-bottom: 4rem;

		i {
			display: inline-block;
			line-height: 1;
			padding: 0 0.3rem;
			font-size: 1.4rem;
			transform: rotate(-20deg) scale(2) translateY(-35%);
			transition: all 0.3s ease, transform 0.3s 0.1s;
		}
		&:hover {
			i {
				padding: 0;
				font-size: 0;
				transform: none;
			}
		}
	}
}

.notes-tags {
	&__title {
		@extend %flex-center;
		display: inline-flex;
		border-radius: 10rem;
		background: var(--h4_bg);
		color: var(--blue);
		padding: 1.5rem 3rem;
		margin: 0rem auto 8vh auto;
		font-size: 2rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		word-break: break-all;

		i {
			font-size: 3rem;
			margin-right: 1rem;
			line-height: 1;
			font-weight: 200;
			transform: scale(1.5);
			opacity: 0.6;
			font-style: normal;
		}
	}
}

.notes-colors {
	&__title {
		@extend .notes-tags__title;
		i {
			transform: scale(1.2);
		}
		span {
			font-weight: 200;
		}
	}
}

.is-grid-list--true {
	grid-template-columns: none !important;
}
