.search {
	&__by-tags,
	&__by-colors {
		margin: 0 auto;
		width: 60%;
		background: var(--white);
		overflow: hidden;
		border-radius: var(--radius);
		box-shadow: var(--shadow);
	}
	&__by-tags { margin-bottom: 5vh; }

	&__title {
		background: var(--blue);
		color: var(--grey);
		font-weight: 300;
		padding: 1.5rem 3rem;
		font-size: 2.2rem;
		
		span { opacity: .8;}

		i {color: var(--white); font-size: 2.5rem; vertical-align: middle; margin-right: .5rem;}
	}

	&__body {
		padding: 5rem 3rem;
		@extend %flex-center;
		flex-wrap: wrap;
		grid-gap: 3rem 1.5rem;
		// grid-template-columns: repeat(auto-fill, minmax(var(--tag-size), 1fr));
	}
	&__tag {
		--tag-size: 10rem;
		@extend %grid-center;
		align-content: center;
		width: var(--tag-size);
		height: var(--tag-size);
		border-radius: var(--radius);
		background: var(--grey);
		overflow: hidden;
		color: var(--blue);
		@extend %cursor;
		@extend .transition-3;
		font-size: 1.3rem;
		font-weight: 500;

		i { 
			font-size: 2.8rem;
			opacity: .85;
			transition: 1s $outBack;
		}
		span { transition: .8s $outBack .1s; }
		
		&:hover {
			background: rgba(0,0,0,.15);
			i { transform: rotate(225deg); }
			span { transform: translateY(20%); }
		}
	}

	&__colors {
		@extend %flex-center;
		@extend %cursor;
		border-radius: 50%;
		border: 1px solid rgba(grey, .3);
		width: 6rem;
		height: 6rem;
		margin: 1rem;
		transition: .4s $outBack;
		overflow: hidden;

		p {
			transform: translateY(150%) rotateZ(-30deg);
			opacity: 0;
			font-size: 1.2rem;
			font-weight: bold;
			color: rgba(0,0,0,.5);
			transition: .4s $outBack;
		}

		&:hover {
			transform: scale(1.1);
			p {
				transform: none;
				opacity: .8;
			}
		}
	}


	@include device(tab-land) {
			&__by-tags, &__by-colors {
				width: 82%;
			}
	}
	@include device(phone) {
			padding: 8vh 0;
	}
}