.search {
	@extend %flex-center;
	flex-direction: column;

	&__by-tags,
	&__by-colors {
		margin: 0 auto;
		width: 60%;
		background: var(--white);
		@extend %overflow-hidden;
		@extend %radius-default;
		box-shadow: var(--shadow);
	}
	&__by-tags {
		margin-bottom: 5vh;
	}

	&__title {
		background: var(--blue);
		color: var(--grey);
		@extend %font-300;
		padding: 1.5rem 3rem;
		font-size: 2.2rem;

		span {
			opacity: 0.8;
		}

		i {
			color: var(--white);
			font-size: 2.5rem;
			vertical-align: middle;
			margin-right: 0.5rem;
		}
	}

	&__body {
		padding: 5rem 3rem;
		@extend %flex-center;
		flex-wrap: wrap;
		grid-gap: 3rem 3rem;
		// grid-template-columns: repeat(auto-fill, minmax(var(--tag-size), 1fr));
	}
	&__tag {
		--tag-size: 10rem;
		@extend %grid-center;
		align-content: center;
		width: var(--tag-size);
		height: var(--tag-size);
		@extend %radius-default;
		background: var(--grey);
		@extend %overflow-hidden;
		color: var(--blue);
		@extend %cursor;
		font-size: 1.3rem;
		@extend %font-500;
		@extend %transition-outSmooth;

		i {
			font-size: 2.8rem;
			opacity: 0.85;
			@extend %transition-outBack;
			--duration: 1s;
		}
		span {
			transition: 0.8s $outBack 0.1s;
		}

		&:hover {
			background: var(--h4_bg);
			i {
				transform: rotate(225deg);
			}
			span {
				transform: translateY(20%);
			}
		}
	}

	&__colors {
		@extend %flex-center;
		@extend %cursor;
		@extend %radius-50;
		border: 1px solid rgba(grey, 0.3);
		width: 6rem;
		height: 6rem;
		margin: 1rem;
		@extend %transition-outBack;
		@extend %overflow-hidden;

		p {
			transform: translateY(150%) rotateZ(-30deg);
			opacity: 0;
			font-size: 1.2rem;
			font-weight: bold;
			@extend %transition-outBack;
		}

		&:hover {
			transform: scale(1.1);
			p {
				transform: none;
				opacity: 0.5;
			}
		}
	}

	@include device(tab-land) {
		&__by-tags,
		&__by-colors {
			width: 82%;
		}
	}
	@include device(phone) {
		padding: 8vh 0;

		&__tag {
			margin: 1rem;
		}
	}
}
