.btn {
	&,
	&:link,
	&:visited {
		--btn-height: 5rem;
		@extend %radius-default;
		padding: 0rem 3rem;
		height: var(--btn-height);
		line-height: var(--btn-height);
		background: var(--grey);
		color: var(--black);
		@extend %flex-center;
		@extend %pos-rel;
		font-family: inherit;
		font-size: inherit;
		@extend %text-center;
		@extend %cursor;
		text-transform: uppercase;
		@extend %transition-outSmooth;
	}

	&:active,
	&:focus {
		outline: none;
		box-shadow: var(--shadow);
	}

	&:active {
		transform: scale(0.94);
	}

	&:hover,
	&:focus {
		transform: scale(0.95);
		filter: hue-rotate(-10deg);
	}

	&--blue {
		font-size: inherit;
		background: var(--blue);
		color: var(--white);
	}

	&--outline {
		background: transparent;
		color: var(--blue) !important;
		border: 2px solid var(--h4_bg);

		&:hover,
		&:focus {
			background: var(--h4_bg);
			border-color: transparent;
		}
	}

	@include device(phone-land) {
		--btn-height: 7rem;
		font-size: 1.6rem;
		text-transform: uppercase;
	}
}
