.edit-tags {
	box-shadow: var(--shadow_modal);
	background: var(--white);
	position: fixed !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	z-index: 100;
	width: 20vw;
	padding: 2rem;

	&:focus {
		border: none;
		outline: none;
	}

	.label-add-tag {
		@extend .flex;
	}
	.input-add-tag {
		padding: 1rem;
		// border-bottom: 1px solid var(--dgrey);
	}

	form {
		flex-direction: column;
	}
	
	ul {
		overflow-y: auto;
		height: 40vh;
	}

	li {
		border: none;
		border-radius: 0;
		padding: .5rem;
		font-size: 1.3rem;
		@extend .transition-2;

		&:hover {
			background:rgba(var(--grey), .5);
			input {
				color: var(--blue);
			}
		}
	}
	label {
		@extend .flex;
	}

	input {
		padding: .7rem 0;
		margin: 0 3rem;
		width: 100%;
		border-radius: 0;
	}

	// button {
	// 	width: 100%;
	// }

	.icon-check {
		opacity: 0;
		visibility: hidden;
		@extend .transition-1;
	}
}