.edit-tags {
	padding: 3rem 4rem;
	background: var(--white);
	box-shadow: var(--shadow_modal);
	border-radius: var(--radius);
	position: fixed !important;
	top: 50%;
	left: 50%;
	z-index: 100;
	width: max-content;
	transform: translate(-50%, -50%) rotate(0deg);

	&:focus {
		border: none;
		outline: none;
	}

	.label-add-tag {
		@extend %flex-center;
	}
	.input-add-tag {
		padding: 1rem;
	}

	form {
		flex-direction: column;
		// width: 40rem;
	}

	ul {
		overflow-y: auto;
		height: 50vh;
	}

	li {
		border: none;
		border-radius: 0;
		margin-bottom: 1.5rem;
		// padding: .5rem;
		font-size: 1.3rem;
		@extend .transition-2;
		overflow-x: hidden;

		&:hover {
			background: rgba(var(--grey), 0.5);
			input {
				color: var(--blue);
			}
		}
		input {
			padding: 0.5rem 1rem;
		}
	}
	label {
		@extend .flex;
		margin: 0 2rem;
	}

	input {
		padding: 1rem 0;
		// margin: 0 3rem;
		width: 100%;
		border-radius: 0;
	}

	button {
		--btn-height: 6.2rem;
		width: 100%;
	}

	.icon-check {
		opacity: 0;
		visibility: hidden;
		@extend .transition-3;
	}

	// @include device(phone-land) { width: 90vw; }
}
