.form {
	padding: 6rem 8rem;
	background: var(--white);
	@extend %grid-center;
	justify-items: center;
	justify-content: center;
	@extend %radius-default;
	box-shadow: 0 3px 5px rgba(var(--black), 0.1);

	.form-group {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 2.5rem;
		}

		.input-field {
			@extend %pos-rel;
			@extend %flex;
			align-items: center;
		}

		.input-icon {
			color: var(--blue);
			@extend %pos-abs;
			left: 3%;
		}

		input {
			padding: 1.8rem 5rem;
			@extend %radius-default;
			border: 1px solid var(--grey);
			background: var(--grey);
			margin: 0.5rem 0;

			&:focus {
				outline: none;
				background: rgba(var(--blue), 0.2);
			}
		}

		label {
			font-size: 1.28rem;
			font-weight: inherit;
			color: var(--blue);
			transition: all 0.3s;
		}

		// TODO sredi ovo! ne radi
		.input:placeholder-shown + .label {
			opacity: 0;
			visibility: hidden;
			transform: translateY(10%);
		}
	}

	.validate-alert {
		color: $red;
		font-size: 1.4rem;
		font-weight: normal;
	}

	.btn--blue {
		--btn-height: 6rem;
		width: 100%;
		margin-top: 5vh;
	}

	.underline-blue {
		color: var(--blue);
		@extend %cursor;
		@extend %pos-rel;
		&::after {
			content: "";
			@extend %pos-abs;
			bottom: -10%;
			left: 0;
			width: 100%;
			height: 1.5px;
			background: var(--blue);
			transform-origin: left center;
			transition: 0.3s transform ease-in-out;
		}

		&:hover::after {
			transform: scaleX(0);
		}
	}

	.register-redirect {
		@extend %font-500;
	}

	.header__logo {
		font-size: 2.5rem;
		color: var(--blue);
		@extend %font-500;
		@extend %text-center;
		padding: 1rem 0;

		i {
			font-size: 3.5rem;
		}

		strong {
			color: var(--black);
		}
	}

	h1 {
		font-size: inherit;
		color: var(--dgrey);
		font-weight: inherit;
	}

	.invalid {
		border: 1px solid rgba($red, 0.1) !important;
		background: rgba($red, 0.1) !important;
	}

	.before-btn-txt {
		font-size: 1.4rem;
		opacity: 0.8;
		@extend %text-center;
	}

	@include device(tab) {
		padding: 6rem 10vw;
	}
}
