.logo {
	font-size: 2.4rem;
	@extend %font-300;
	@extend %flex;
	align-items: center;
	margin: 0 2rem;
	@extend %transition-outSmooth;

	i {
		font-size: 3.7rem;
		// color: darken(var(--blue), 2%);
		color: var(--blue);
		transform: rotate(45deg);
		@extend %transition-outSmooth;
		// text-shadow: 0px 1px 1px rgba(var(--black), .8);
	}

	strong {
		color: var(--blue);
		@extend %transition-outSmooth;
	}

	&:hover {
		i {
			transform: rotate(0);
		}
	}
}
