.newNote {
	width: 33vw;
	z-index: 5;

	.note__options {
		grid-auto-flow: column ;
		display: grid;
		grid-gap: 2.5vw;
		align-items: center;
		width: auto;
	}
}

.new-note-wrapper {
	margin: 15rem 0 5rem 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	// overflow-x: hidden;
	// justify-content: center;
	svg {
		position: absolute;
		// z-index: 1;
		top: 25%;
		left: 51%;
		transform: translate(-50%, -50%) scale(1);
	}
}