//! OVO JE VELIKA NOTE
.note {
	padding: 2rem;
	color: var(--black);
	background: var(--white);
	box-shadow: var(--shadow);
	border-radius: calc(var(--radius) + .5rem);
	word-wrap: break-word;
	word-break: break-all;
	cursor: pointer;

	position: relative;

	&:hover {
		animation: 1s note-hover ease-in-out;
		.note__pin,
		.note__options {
			opacity: 1;
			pointer-events: all;
		}

		.note__pin, .note__options, .note__date, .note__tag  { transform: none; }
	}

	&:focus { outline: none; }
	
	&__title-container {
		// grid-area: title;
		@extend .flex;
		justify-content: space-between;
	}

	&__title {
		// padding: 1rem 0rem 1rem 2rem;
		padding: .5rem 0;
		width: 96%;
		font-size: 1.6rem;
		font-weight: 500;
		// background: lightseagreen;
	}


	&__body {
		// grid-area: body;
		// background: lightcoral;
		padding: 2rem 0;
		color: inherit;
		overflow: hidden;
		overflow-y: auto;
		max-height: 30rem;
		min-height: 4rem;
	}

	&__title:empty::before,
	&__body:empty::before {
		content: attr(data-placeholder);
		opacity: .5;
		letter-spacing: 0.8px;
	}

	&__title:focus, &__body:focus { outline: none; }

	&__pin {
		position: relative;
		z-index: 5;
		opacity: 0;
		pointer-events: none;
		transform: translate(30%, -30%) rotateZ(45deg);
		transition: opacity .1s, transform .4s;

		&::after {
			@extend .color-blue::after;
			transform: scale(0) !important;
			@extend .transition-3;
		}
		&:hover::after{
			transform: scale(1.2) !important;
		}

		&--pinned {
			opacity: 1 !important;
			transform: none !important;
		}
	}

	&__tag {
		@extend .h4;
		transform: translateY(100%);
		@extend .transition-3;
		// padding: .4rem 1.3rem;
		// font-size: 1rem;
		&:not(:last-child) { margin-right: .5rem; }
	}
	

	&__date {
		margin: 2rem 0;
		display: grid;
		justify-content: flex-start;
		align-items: center;
		grid-gap: 0 1rem;
		grid-template-areas:
		"icon date"
		"icon time"
		;
		transform: translateY(80%);
		@extend .transition-3;
		transition-delay: .05s;


		&-edited {
			grid-area: icon;
			color: var(--blue);
		}

		&-date { grid-area: date; }
		&-time { grid-area: time; }
		&-date, &-time {
			letter-spacing: .5px;
			font-size: 1.1rem;
			opacity: .65;
			font-weight: 500;
			text-transform: lowercase;
		}
	}

	&__footer {
		@extend .flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;
	}

	&__options {
		width: 100%;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		opacity: 0;
		pointer-events: none;
		transform: translateY(10%) scaleY(0);
		transform-origin: center bottom;
		@extend .transition-3;
		transition-delay: .1s;
	}

	&__add-tags {
		// @extend .note__pallete;
		&:focus { outline: none; }
		// overflow: hidden;
		// word-wrap: break-word;
		// background: red;

		&-form {
			// overflow: hidden;
		
			position: absolute;
			width: 100%;
			top: 90%;
			left: 10%;
			padding: 2.2rem 1.5rem; 
			border-radius: var(--radius);
			box-shadow: var(--shadow);
			background: var(--white);
			color: inherit;
			font-size: 1.2rem;
			z-index: 1000;
			word-break: break-all;
			display: flex;
			flex-direction: column;
			// display: grid;
			// // place-items: center;
			// grid-template-rows: repeat(3, 1fr);
			// justify-content: center;
			// place-items: center;
			// align-content: center;

			button {
				width: 100%;
			}
		}

		&-closebtn {
			position: absolute;
			top: 5%;
			right: 5%;
			width: 2.5rem;
			height: 2.5rem;
			background: var(--h4_bg);
			border-radius: 8px;
			font-weight: 700;
			@extend %flex-center;
			// @extend .note__pin;
		}

		&-input {
			padding: .8rem .4rem;
			margin-bottom: 1.5rem;
			text-align: center !important;
		}

		&-ul {
			display: grid;
			grid-gap: .5rem;
			word-break: break-all;

			label {
				@extend .flex;
				justify-content: flex-start;
				cursor: pointer;

				input { 
					text-align: center;
					margin-right: 1rem;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					// display: inline-block;
					width: 1.3rem;
					height: 1.3rem;
					// border-radius: 50%;
					border: 2px solid var(--blue);
					opacity: .4;
					outline: none;
					vertical-align: middle;

					&:checked {
						background: var(--blue);
						border: 2px solid var(--blue);
						opacity: 1;
					}
				}
			}

			label:hover {
				color: var(--blue);
			}
		}
	}


	&__btn-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		// button { margin-left: 0; }
		// margin-top: 1.5rem;
		// margin: 1rem 0;

		button:nth-of-type(1) { margin-right: 1.5rem; }
	}

	&__pallete {
		position: relative;

		&:hover .note__colors-container  {
			display: grid;
		}
	}

	&__colors-container  {
		display: none;
		position: absolute;
		bottom: 100%;
		left: 0;
		box-shadow: var(--shadow);
		background: var(--white);

		padding: 1rem;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: .8rem;
		border-radius: var(--radius);

		& > div {
			@extend %cursor;
			width: 2.3rem;
			height: 2.3rem;
			border: 1px solid rgba(grey,.3);
			border-radius: 50%;
			opacity: .8;

			&:hover {
				opacity: 1;
				animation: .6s circle-color-hover $outBack;
			}
		}
	}


	@include device(phone) {
		position: relative;

		&__footer { position: initial; }
		&__add-tags {
			&-form {
				top: 15%;
				left: 5%;
				width: 90%;
				overflow-y: auto;
				max-height: 40%;
				// width: 100%;
			}
		}
	}
}