.notification {
	position: fixed;
	bottom: 5%;
	left: 5%;
	z-index: 10000;
	padding: 2.2rem 2rem;
	color: var(--grey);
	width: 25%;
	height: auto;
	box-shadow: var(--shadow);
	border-radius: var(--radius);

	// display: flex;
	// align-items: center;
	// word-wrap: wrap;

	.position-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		word-wrap: wrap;
	}

	i:nth-of-type(2) {
		@extend %cursor;
		position: absolute;
		top: 0;
		right: 0;
		transform-origin: 50% 50%;
		@extend .transition-3;

		&:hover { transform: scale(1.3); }
	}

	p { padding: 0 2rem; }
}


// .success,
// .warning {
// 	-webkit-animation: hide 1s forwards;
// 	-webkit-animation-iteration-count: 1;
// 	-webkit-animation-delay: 3s;
// 	animation: hide 1s forwards;
// 	animation-iteration-count: 1;
// 	animation-delay: 3s;
// }

.success {
	// display: block;
	background: var(--color-success) !important;
	// background: var(--color-success);
	color: rgba(0,0,0,.8);
}

.warning {
	// display: block;
	background: var(--color-warning) !important;
	// background: var(--color-success);
}

.info {
	background: var(--color-blue) !important;
}