//! OVO JE VELIKA NOTE
.note {
	padding: 2rem;
	color: var(--black);
	background: var(--white);
	box-shadow: var(--shadow);
	border-radius: calc(var(--radius) + 0.5rem);
	word-wrap: break-word;
	word-break: break-all;
	@extend %cursor;
	@extend %pos-rel;

	&:hover {
		.note__pin,
		.note__options {
			opacity: 1;
			pointer-events: all;
		}

		.note__pin,
		.note__options,
		.note__date,
		.note__tag {
			transform: none;
		}
	}

	&:focus {
		outline: none;
	}

	&__title-container {
		// grid-area: title;
		@extend %flex-jsb;
	}

	&__title {
		// padding: 1rem 0rem 1rem 2rem;
		padding: 0.5rem 0;
		width: 96%;
		font-size: 1.6rem;
		@extend %font-500;
		// background: lightseagreen;
	}

	&__body {
		// grid-area: body;
		// background: lightcoral;
		padding: 2rem 0;
		color: inherit;
		@extend %overflow-hidden;
		overflow-y: auto;
		max-height: 20rem;
		min-height: 4rem;
		width: 100%;
	}

	&__title:empty::before,
	&__body:empty::before {
		content: attr(data-placeholder);
		opacity: 0.5;
		letter-spacing: 0.8px;
	}

	&__title:focus,
	&__body:focus {
		outline: none;
	}

	&__pin {
		@extend %pos-rel;
		z-index: 5;
		opacity: 0;
		pointer-events: none;
		transform: translate(30%, -30%) rotateZ(45deg);
		transition: opacity 0.1s, transform 0.4s;

		&::after {
			@extend .i-color-blue::after;
			transform: scale(0) !important;
		}
		&:hover::after {
			transform: scale(1.2) !important;
		}

		&--pinned {
			opacity: 1 !important;
			transform: translate(0%, 0%) rotateZ(0deg) !important;
		}
	}

	&__tag {
		@extend .h4;
		transform: translateY(100%);
		@extend %transition-inOutBack;
		&:not(:last-child) {
			margin-right: 0.5rem;
		}
	}

	&__date {
		margin: 2rem 0;
		@extend %grid;
		justify-content: flex-start;
		align-items: center;
		grid-gap: 0 1rem;
		grid-template-areas:
			"icon date"
			"icon time";
		transform: translateY(80%);
		@extend %transition-inOutBack;
		transition-delay: 0.05s;

		&-edited {
			grid-area: icon;
			color: var(--blue);
		}

		&-date {
			grid-area: date;
		}
		&-time {
			grid-area: time;
		}
		&-date,
		&-time {
			letter-spacing: 0.5px;
			font-size: 1.1rem;
			opacity: 0.65;
			@extend %font-500;
			text-transform: lowercase;
		}
	}

	&__footer {
		@extend %pos-rel;
		@extend %flex-jsb;
		flex-wrap: wrap;

		i,
		.note__add-tags,
		.note__pallete {
			@extend %transition-inOutBack;

			&:hover {
				transform: scale(1.2);
			}
		}

		i.mdi-delete:hover {
			color: var(--color-warning);
		}
	}

	&__options {
		width: 100%;

		@extend %flex;
		flex-wrap: wrap;
		justify-content: space-between;
		opacity: 0;
		pointer-events: none;
		transform: translateY(10%) scaleY(0);
		transform-origin: center bottom;
		@extend %transition-inOutBack;
		transition-delay: 0.1s;
	}

	&__add-tags {
		&:focus {
			outline: none;
		}

		&-form {
			@extend %pos-abs;
			width: 100%;
			top: 90%;
			left: 10%;
			padding: 2.2rem 1.5rem;
			@extend %radius-default;
			box-shadow: var(--shadow);
			background: var(--white);
			color: inherit;
			font-size: 1.2rem;
			z-index: 1000;
			word-break: break-all;
			@extend %flex;
			flex-direction: column;
			transform-origin: left top;

			button {
				width: 100%;
			}
		}

		&-ul {
			width: 100%;
			li,
			input {
				width: 100%;
			}
		}

		&-closebtn {
			@extend %pos-abs;
			top: 5%;
			right: 5%;
			width: 2.5rem;
			height: 2.5rem;
			background: var(--h4_bg);
			border-radius: 8px;
			font-weight: 700;
			@extend %flex-center;
			// @extend .note__pin;
		}

		&-input {
			padding: 0.8rem 0.4rem;
			margin-bottom: 1.5rem;
			text-align: center !important;
		}

		&-ul {
			@extend %grid;
			grid-gap: 0.6rem;
			word-break: break-all;

			li {
				@extend %flex-center;
				padding: 1rem;
				@extend %radius-default;
				@extend %transition-outSmooth;

				span {
					font-weight: 600;
					color: var(--blue);
				}

				&:hover {
					background: var(--h4_bg);
				}
			}

			label {
				--radio-size: 1.4rem;
				@extend %cursor;

				input {
					@extend %text-center;
					margin-right: 1rem;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					width: var(--radio-size);
					height: var(--radio-size);
					border: 2px solid var(--blue);
					opacity: 0.4;
					outline: none;
					vertical-align: middle;

					&:checked {
						background: var(--blue);
						border: 2px solid var(--blue);
						opacity: 1;
					}
				}
			}

			label:hover {
				color: var(--blue);
			}
		}
	}

	&__btn-container {
		@extend %flex;
		align-items: center;
		flex-wrap: wrap;

		button:nth-of-type(1) {
			margin-right: 1.5rem;
		}
	}

	&__pallete {
		@extend %pos-rel;

		&:hover {
			.note__colors-container {
				opacity: 1;
				pointer-events: all;
				transform: scale(1) rotateZ(0deg);
			}
		}
	}

	&__colors-container {
		--color-circle-size: 2.3rem;
		@extend %grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0.8rem;
		padding: 1rem;
		@extend %pos-abs;
		bottom: 100%;
		left: 0;
		box-shadow: var(--shadow);
		background: var(--white);
		opacity: 0;
		pointer-events: none;
		@extend %radius-default;
		transform-origin: left bottom;
		transform: scale(0) rotateZ(-45deg);
		transition: all 0.5s $inOutBack;

		&:hover {
			opacity: 1;
			pointer-events: all;
			z-index: 10000;
			transform: scale(1) rotateZ(0deg);
		}

		& > div {
			@extend %cursor;
			width: var(--color-circle-size);
			height: var(--color-circle-size);
			border: 1px solid rgba(grey, 0.3);
			@extend %radius-50;
			opacity: 0.8;

			&:hover {
				opacity: 1;
				animation: 0.6s circle-color-hover $outBack;
			}
		}
	}

	@include device(phone-land) {
		position: relative;

		&__body {
			max-height: 13rem;
		}

		&__footer {
			position: initial;
		}

		&__colors-container {
			--color-circle-size: 4rem;
			padding: 1.5rem 2rem;
			grid-gap: 1.5rem 2rem;
		}

		&__options {
			i {
				font-size: 2.6rem;
			}
		}

		&__add-tags {
			&-form {
				padding: 2.2rem 3rem;
				width: 77vw;
			}
			&-ul {
				width: 100%;
				max-height: 15rem;
				overflow-y: auto;
				color: var(--black) !important;
			}
		}
	}
}
