.notification {
	@extend %pos-fix;
	bottom: 5%;
	left: 5%;
	z-index: 10000;
	padding: 2.2rem 2rem;
	color: var(--grey);
	width: 25%;
	height: auto;
	box-shadow: var(--shadow);
	@extend %radius-default;

	.position-wrapper {
		@extend %pos-rel;
		@extend %flex;
		align-items: center;
		word-wrap: wrap;
	}

	i:nth-of-type(2) {
		@extend %cursor;
		@extend %pos-abs;
		top: 0;
		right: 0;
		transform-origin: 50% 50%;
		@extend %transition-inOutBack;

		&:hover {
			transform: scale(1.3);
		}
	}

	p {
		padding: 0 2rem;
	}

	@include device(tab-land) {
		width: 50%;
	}
	@include device(phone-land) {
		width: 90%;
	}
}

.success {
	background: var(--color-success) !important;
	color: rgba(0, 0, 0, 0.8);
}

.warning {
	background: var(--color-warning) !important;
}

.info {
	background: var(--color-info) !important;
}
