.obvio {
	@extend %pos-abs;
	top: 10vh;
	right: 10vh;
	z-index: 10000;

	figure {
		width: 30vh;
		height: auto;
		@extend %pos-rel;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		@extend %radius-default;
	}

	figcaption {
		--close-size: 3rem;
		width: var(--close-size);
		height: var(--close-size);
		@extend %flex-center;
		@extend %pos-abs;
		@extend %cursor;
		top: 0%;
		right: 0%;
		transform: translate(50%, -50%);
		background: var(--white);
		color: var(--blue);
		border-radius: 0.5rem;
		border: 1px solid var(--h4_bg);
		@extend %transition-inOutBack;

		span {
			@extend %transition-inOutBack;
		}

		&:hover,
		&:focus {
			transform: translate(45%, -45%);

			span {
				transform: rotate(90deg) scale(0.8);
			}
		}
	}
}
