.sidebar {
	--r: 50px;
	grid-area: sidebar;

	@extend %pos-fix;
	top: 0;
	left: 0;
	transform: translateX(0);
	width: var(--sidebar-width);
	height: 100vh;
	@extend %grid;
	place-items: center;
	grid-template-rows: 1fr max-content 1fr;
	opacity: 1;
	@extend %overflow-hidden;
	background: radial-gradient(
		circle,
		var(--grey) 0%,
		var(--white) 20%,
		var(--grey) 100%
	);
	z-index: var(--z-sidebar);
	transition: width 0.3s ease-in-out;

	&__top {
		padding: 5rem 0;
	}

	&__ul {
		width: 80%;
	}

	&__li {
		@extend %pos-rel;
		@extend %cursor;
		padding: 1.5rem 2.5rem;
		// @extend %text-center;
		font-weight: 500;
		font-size: 1.63rem;
		margin-bottom: 2rem;
		@extend %flex;
		align-items: center;
		border-radius: var(--radius);
		overflow: hidden;
		z-index: 20;
		// transition: .5s all $inCubic;

		&.router-link-exact-active,
		&.active {
			@extend .sidebar__li:hover;
		}

		&:nth-of-type(2) {
			&::before {
				clip-path: circle(0% at 60% 20%);
			}
		}

		&::before {
			@extend %after;
			top: 0%;
			left: 0%;
			@extend %radius-default;
			clip-path: circle(0% at 30% 90%);
			transition: all 0.8s $inOutCirc;
			z-index: -1;
			background: var(--blue);
		}

		i {
			margin-right: 2rem;
			font-size: 2.3rem;
			opacity: 0.5;
			transition: 0.5s $inQuad;
		}
		p {
			transition: 0.5s $inQuad;
		}

		&:hover {
			color: var(--white);

			&::before {
				clip-path: circle(180% at 100% 100%);
			}

			i {
				opacity: 1;
			}

			.sidebar__expand {
				color: currentColor;
			}
		}
	}

	&__expand {
		transform: rotate(90deg);
		margin: 0 0 0 auto;
		transition: 0.5s $inQuad color, 0.7s $inOutBack transform;

		&--true {
			transform: rotate(0deg);
			color: var(--blue);
			letter-spacing: 2px;
		}
	}

	&__tags-wrapper {
		font-size: 1.3rem;
		width: 80%;
		margin: 0 0 0 auto;
		transform-origin: center top;
	}

	&__tags {
		max-height: 20vh;
		overflow-x: hidden;
		overflow-y: auto;
		margin-right: 2rem;
		transition: all 0.3s ease;
	}

	&__tag {
		word-break: break-word;
		opacity: 0.9;
		display: grid;
		justify-content: flex-start;
		align-items: center;
		grid-auto-flow: column;
		grid-gap: 0.5rem;
		margin-bottom: 1rem;

		&.router-link-exact-active {
			@extend .sidebar__tag:hover;
		}

		i {
			font-size: inherit;
			@extend .transition-3;
		}

		span:nth-of-type(2) {
			--count-size: 1.5rem;
			@extend %radius-50;
			@extend %flex-center;
			width: var(--count-size);
			height: var(--count-size);
			// background: var(--blue);
			background: transparent;
			color: var(--white);
			color: var(--blue);
			border: 1px solid transparent;
			border: 1px solid var(--blue);
			padding: 0.2rem;
			font-size: 1rem;
			font-weight: 500;
			transform-origin: center;
			transition: all 0.3s ease;
		}

		&:hover {
			color: var(--blue);
			span:nth-of-type(2) {
				background: transparent;
				background: var(--blue);
				border: 1px solid transparent;
				color: var(--white);
			}
			i {
				transform: rotate(90deg);
			}
		}
	}

	.btn--outline {
		font-size: 1.25rem;

		i {
			font-size: 1.5rem;
			padding: 0;
			margin-right: 1rem;
		}
	}

	&__footer {
		font-weight: 500;
		// align-self: flex-end;
		padding: 2rem 0;
		transform: translateY(1/0%);
		text-align: left;
		font-size: 1.28rem;
		a {
			color: var(--blue);
		}

		.logo {
			// font-size: inherit;
			color: currentColor;
			font-size: 1.45rem;
			margin: 0;

			i {
				padding: 0;
				// margin: 0;
				font-size: 2.2rem;
			}
		}
	}

	&__bg-circle {
		--bg-circle-size: 28rem;
		--opacity-before: 0.5;
		--opacity-after: 0.5;
		--gap-before: -8%;
		--gap-after: -3%;
		width: var(--bg-circle-size);
		height: var(--bg-circle-size);
		@extend %radius-50;
		@extend %pos-abs;
		background: var(--blue);
		z-index: -1;
		transition: all 0.3s ease;

		&::after,
		&::before {
			@extend %after;
			@extend .sidebar__bg-circle;
			// left: 0;
			background: var(--blue);
		}

		&--1 {
			top: 0;
			transform: translate(0%, -85%);
			// box-shadow: 0px 5px 10px 5px rgb(59, 255, 147);
			opacity: 0.9;

			&--tags-expanded {
				transform: translate(0%, -100%);
			}

			&::before {
				bottom: var(--gap-before);
				opacity: var(--opacity-before);
			}
			&::after {
				bottom: var(--gap-after);
				opacity: var(--opacity-after);
			}
		}
		&--2 {
			bottom: 0;
			transform: translate(0%, 90%);
			box-shadow: 0px -10px 20px 0px var(--h4_bg);
			opacity: 0.9;

			&::before {
				top: var(--gap-before);
				opacity: var(--opacity-before);
			}
			&::after {
				top: var(--gap-after);
				opacity: var(--opacity-after);
			}

			&--tags-expanded {
				transform: translate(0%, 100%);
			}
		}
	}

	// @include device(phone-land-orientation) {
	// 	// --bg-circle-size: 40rem;
	// 	overflow-y: auto;
	// 	background: red;
	// }

	@include device(phone-land) {
		&__tags-wrapper {
			width: 85%;
		}
		&__tags-edit-btn {
			width: 100%;
		}
		&__bg-circle {
			--bg-circle-size: 40rem;

			&--1 {
				transform: translate(-50%, -70%);
				opacity: 0.9;
				&--tags-expanded {
					transform: translate(0%, -150%);
				}
			}
			&--2 {
				transform: translate(60%, 85%);
				opacity: 0.9;
				&--tags-expanded {
					transform: translate(0%, 150%);
				}
			}
		}
		.button--outline {
			width: 80%;
		}
	}
}
