.sidebar {
	grid-area: side;

	// background: $red;
	position: fixed;
	top: 12%;
	// width: 32rem;
	height: 100vh;
	transform: translateX(0);
	transition: transform .3s $cub-1 !important;
	z-index: 70;
	display: grid;
	justify-content: space-between;

	ul {
		width: 32rem;
	}

	li {
		padding: 1vh 2vw;
		width: 100%;
		margin-bottom: 1rem;
		font-size: 1.7rem;
		// margin: 1rem 0;
		// border-top-right-radius: 5rem;
		// border-bottom-right-radius: 5rem;
		// color: darken(var(--blue), 8%);
		// border-top-left-radius: .3rem;
		// border-bottom-left-radius: .3rem;
		// border-left: 8px solid transparent;
		// border-radius: 4rem;
		@extend .flex;
		// @extend .transition-3;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 1rem;
			// background: red;
			// border-top-right-radius: 5rem;
			// border-bottom-right-radius: 5rem;
			// border-top-left-radius: .2rem;
			// border-bottom-left-radius: .2rem;
			border-radius: .5rem;

			color: var(--blue);
			z-index: -1;
			border-left: 8px solid transparent;
			@extend .transition-3;
		}

		&:hover {
			// border-radius: .5rem;
			background: var(--h4_bg);
			// background: var(--lgrey);
			color: var(--blue);
			cursor: pointer;

			&::after {
				background: var(--lgrey);
				height: 100%;
				border-left: 8px solid var(--blue);

			}

			i {
				opacity: 1;
				// color: var(--blue);
			}

			.expand { background: var(--blue); }
		}

		i {
			margin-right: 2rem;
			font-size: 3rem;
			opacity: .7;
		}
	}

	&__tags-wrapper {
		font-size: inherit;
		padding: 1rem 0 1rem 8rem;
		width: 100%;
		
		p {
			padding: .5rem;
			word-break: break-word;
			// margin-right: 2rem;
			// background: red;
			@extend .flex;
			&:hover {
				color: var(--blue);
			}
		}

		i {
			font-size: inherit;
			margin-right: .8rem;
		}

		.underline {
			font-size: 1.8rem;
			color: var(--blue);
			width: 50%;
			cursor: pointer;
			&:hover {
				color: var(--white);
			}
		}
	}

	&__tags {
		max-height: 40vh;
		overflow-y: auto;
		// background: orange;
		margin-right: 2rem;

	}

	&__footer {
		position: absolute;
		bottom: 10%;
		left: 3.5rem;
		// padding: 0rem 3.5rem;
		font-size: 1.28rem;

		// text-align: right;
		// background: $green;

		a {
			color: var(--blue);
		}

		.logo {
			// font-size: inherit;
			color: currentColor;
			font-size: 1.45rem;


			i {
				padding: 0;
				// margin: 0;
				font-size: 2.2rem;
			}
		}

		p:nth-of-type(2) {
			opacity: .8;
			margin-top: -.5rem;

		}

		.underline {
			&:hover {
				&::after {
					height: 100%;
				}
			}
			&::after {
				height: .1rem;
			}
		}
	}
}


li.router-link-exact-active, .active {
	@extend li:hover;

	// cursor: pointer;
	// border-left: 5px solid darken(var(--blue), 8%) !important;
	// background: var(--lgrey);
	// color: darken(var(--blue), 8%);



	// i {
	// 	opacity: 1;
	// }
}