.toggle-btn {
	--toggle-circle-size: 1.8rem;

	&__chb{ display: none; }

	&__label {
		cursor: pointer;
		width: 5.3rem;
		height: 2.5rem;
		@extend .flex;
		border-radius: var(--radius);
		background: var(--grey);
		position: relative;
		transition: .3s ease-in-out;

		&::after {
			content: '';
			position: absolute;
			left: .5rem;
			width: var(--toggle-circle-size);
			height: var(--toggle-circle-size);
			border-radius: 10rem;
			background: var(--blue);
			transition: .3s ease-in-out;
		}
	}
}

.toggle-btn__chb:checked + .toggle-btn__label {
	// background: var(--blue);
	background: var(--black);
}

.toggle-btn__chb:checked + .toggle-btn__label::after {
	left: calc(100% - .5rem);
	transform: translateX(-100%);
	// background: var(--white);
	background: var(--lgrey);

}

.toggle-btn__label:active::after {
	transform: scaleX(2.5) scaleY(.5);
	transform-origin: right center;
}