.toggle-btn {
	--toggle-circle-size: 1.8rem;

	&__chb {
		display: none;
	}

	&__label {
		@extend %cursor;
		width: 5.3rem;
		height: 2.5rem;
		@extend %flex;
		align-items: center;
		@extend %radius-default;
		background: var(--grey);
		@extend %pos-rel;
		transition: 0.3s ease-in-out;

		&::after {
			content: "";
			@extend %pos-abs;
			left: 0.5rem;
			width: var(--toggle-circle-size);
			height: var(--toggle-circle-size);
			border-radius: 10rem;
			background: var(--blue);
			transition: 0.3s ease-in-out;
		}
	}
}

.toggle-btn__chb:checked + .toggle-btn__label {
	// background: var(--blue);
	background: var(--black);
}

.toggle-btn__chb:checked + .toggle-btn__label::after {
	left: calc(100% - 0.5rem);
	transform: translateX(-100%);
	// background: var(--white);
	background: var(--lgrey);
}

.toggle-btn__label:active::after {
	transform: scaleX(2.5) scaleY(0.5);
	transform-origin: right center;
}
